<!DOCTYPE html>
<html xmlns:th="html://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           
            <div class="container-fluid d-flex">
              <a class="navbar-brand" href="#"><Strong>MyLOGO</Strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        Clientes
                    </a>
                  </li>
               
                </ul>

              </div>
            </div>
            
          </nav>

    </header>

    <div  class="container"></div>

    <footer th:fragment="footer " class="bg-dark text-center text-white fixed-bottom">
        <div class="container ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ratione. Eveniet, recusandae et.</p>
        </div>


     <!--    <script type="text/javascript" th:src="@{} "></script>
        <script type="text/javascript" th:src="@{} "></script> -->
    </footer>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
</body>
</html>